<ion-content fullscreen class="calculator">
  <!-- DISPLAY -->
  <ion-row class="header">
    <ion-icon name="alarm-outline" (click)="toggleHistory()"></ion-icon>
    <ion-modal [isOpen]="showHistory" [breakpoints]="[0, 0.4, 0.8, 1]" [initialBreakpoint]="1">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-title>History</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="toggleHistory()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <!-- HISTORY -->
          <ion-list [inset]="true">
            <ion-item *ngFor="let h of history" lines="none" (click)="reuseHistory(h)">
              <ion-label>
                <h2>{{ h.expression }} = {{ h.result }}</h2>
                <p>{{ h.date }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-alert trigger="present-alert" header="Clear History"
            message="Are you sure you want to delete all calculation history?" [buttons]="alertButtons">
          </ion-alert>
          <ion-button id="present-alert" expand="block" fill="clear" color="danger">
            Clear History
          </ion-button>

        </ion-content>

      </ng-template>
    </ion-modal>

    <ion-icon name="alarm-outline"></ion-icon>
  </ion-row>

  <div class="display-wrapper">
    <ion-text class="display-text" color="white">
      <h6>{{ formattedDisplay || '0' }}</h6>
    </ion-text>
  </div>


  <!-- KEYPAD -->
  <ion-grid>
    <ion-row>
      <ion-col (click)="backspace()" class="btn gray">
        ⌫
      </ion-col>
      <ion-col (click)="clearAll()" class="gray">C</ion-col>
      <ion-col class="btn gray" (click)="percent()">%</ion-col>
      <ion-col (click)="press('/')" class="orange">÷</ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="press('7')" class="btn">
        7
      </ion-col>
      <ion-col (click)="press('8')">8</ion-col>
      <ion-col (click)="press('9')">9</ion-col>
      <ion-col (click)="press('*')" class="orange">x</ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="press('4')" class="btn">
        4
      </ion-col>
      <ion-col (click)="press('5')">5</ion-col>
      <ion-col (click)="press('6')">6</ion-col>
      <ion-col (click)="press('-')" class="orange">-</ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="press('1')" class="btn">
        1
      </ion-col>
      <ion-col (click)="press('2')">2</ion-col>
      <ion-col (click)="press('3')">3</ion-col>
      <ion-col (click)="press('+')" class="orange">+</ion-col>
    </ion-row>

    <ion-row>
      <ion-col (click)="toggleSign()" class="btn">
        +/-
      </ion-col>
      <ion-col (click)="press('0')">0</ion-col>
      <ion-col (click)="press('.')">.</ion-col>
      <ion-col (click)="calculate()" class="orange">=</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>