.display-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow-x: auto;
  margin-top: 65%;
}


.display-text {
  color: white;
  font-weight: 300;
  text-align: right;

  white-space: nowrap;
  min-width: 100%;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: white;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

ion-text > h6{
  font-size: 60px;
}

ion-col {
  height: auto;
  width: 25%;
  border-radius: 100%;
  font-size: 30px;
  border: none;
  color: white;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-grid {
  margin-top: auto; /* 👈 THIS pushes it to bottom */
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  display: grid;
  gap: 12px;
  padding: 20px;
}

ion-row {
  display: flex;
  gap: 12px;
}

ion-icon {
  font-size: 40px;
}

.keypad {

  // padding: 20px;
  padding-bottom: env(safe-area-inset-bottom);
}

.btn {
  height: 80px;
  border-radius: 50%;
  font-size: 28px;
  border: none;
  color: white;
}

.dark {
  background: #333;
}

.gray {
  background: #a5a5a5;
  color: black;
}

.orange {
  background: #ff9f0a;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
  text-align: left;
  padding-left: 30px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}